@use 'mixins';

html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    overflow: hidden;
    font-family: Arial;
    font-size: 20px;

    > client-root {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #eeeeee;
    }
}
