/* stylelint-disable value-no-vendor-prefix */

.root {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 1em;
    width: calc(100% - 2em);
    height: fit-content;
    height: -moz-fit-content;
    padding: 1em;
    overflow: auto;

    > h1 {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 1em;
        align-items: center;
        width: fit-content;
        width: -moz-fit-content;

        > img {
            width: 1em;
            height: 1em;
        }
    }

    > div {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 1em;
        width: fit-content;
        width: -moz-fit-content;
    }

    &.edit > div {
        display: grid;
        grid-template-rows: repeat(3, auto);
        row-gap: 1em;
        height: fit-content;
        height: -moz-fit-content;
    }

    &.busy {
        pointer-events: none;
        opacity: 0.5;
    }
}

.command {
    $textShadow: 2px 2px #000000, 2px -2px #000000, -2px 2px #000000, -2px -2px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    background: #000000;
    border-width: 0;
    border-radius: 12px;
    outline: none;

    &.RR,
    &.GG,
    &.YY {
        text-shadow: $textShadow;
    }

    &.RR,
    &.RG,
    &.RY {
        color: #ff0000;
    }

    &.YR,
    &.YG,
    &.YY {
        color: #ffff00;
    }

    &.GR,
    &.GG,
    &.GY {
        color: #00ff00;
    }

    &.RR,
    &.GR,
    &.YR {
        background: #ff0000;
    }

    &.RY,
    &.GY,
    &.YY {
        background: #ffff00;
    }

    &.RG,
    &.GG,
    &.YG {
        background: #00ff00;
    }

    &:not(.OFF) > input {
        color: inherit;
    }

    > input {
        margin: 0.1em;
        font-size: 1em;
    }
}
