services:
  nico:
    image: nginx
    restart: always
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./passwd:/etc/nginx/basic_auth
      - ./host.crt:/etc/ssl/certs/nginx/host.crt
      - ./host.key:/etc/ssl/certs/nginx/host.key
      - ./dist:/usr/webapp
      - nico_alert-oled:/usr/config
    network_mode: host
volumes:
  nico_alert-oled:
    external: true
